@using System.Web.Optimization
@{
    Layout = null;
    //top layout, no parent layout
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Simple Blog</title>
    @Styles.Render("~/styles")
</head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("home")">SIMPLE BLOG</a>
            <i class="glyphicon glyphicon-bell"></i>
        </h1>
        @if(User.Identity.IsAuthenticated)
        {
            <p>Welcome back, @User.Identity.Name</p>
            <a href="@Url.RouteUrl("logout")">LOGOUT</a>
            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("index","Posts", new {area = "admin"})">View posts as admin</a>
            }
        }
        else
        {
            <a href="@Url.RouteUrl("login")">LOGIN</a>           
        }
    </header>
    <!-- INSERT VIEW HERE -->
    @RenderBody()
    <footer>
        &copy; @DateTime.UtcNow.Year - Thanh Lai
    </footer>
    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false)

</body>
</html>
